.pokemon__id {
  width: 50px;
  font-size: 16px;
}

.pokemon__thumb {
  height: 100%;
  margin-right: 20px;
}

.pokemon__thumb > img {
  height: 100%;
}

.pokemon__name {
  width: 150px;
  font-size: 16px;
}
