.pokemon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(68, 169, 241, 0.6);
  position: relative;
}

.pokeball-placeholder {
  opacity: 0.3;
  height: 75%;
  width: 75%;
  position: absolute;
  z-index: 0;
}

.pokemon-main-picture {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  z-index: 1
}
