.secondary-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(68, 169, 241, 0.6);
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.secondary-info__description {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 65%;
  margin-right: 20px;
  padding: 10px;
}

.description__text {
  text-align: center;
}




/*/// Pokemon type / types ///*/


.secondary-info__type {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.type__heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.type__content{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.type {
  height: 40%;
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(150, 150, 150, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 8px;
}

// Types classes

.bug {
  background: #719f40;
}

.dragon {
  background: linear-gradient( #52a4cf 30%, #f16e56 70%);
}

.fairy {
  background: #fdb9e9;
}

.fire {
  background: #fd7d25;
}

.ghost {
  background: #7b62a3;
}

.ground {
  background: linear-gradient( #f7de3f 30%, #ab9843 70%);
}

.normal {
  background: #a4abae;
}

.psychic {
  background: #f366b9;
}

.steel {
  background: #9eb7b9;
}

.dark {
  background: #707070;
}

.electric {
  background: #eed535;
}

.fighting {
  background: #d56724;
}

.flying {
  background: linear-gradient( #3cc7ee 30%, #bdb9b8 70%);
}

.grass {
  background: #9bcb50;
}

.ice {
  background: #51c3e7;
}

.poison {
  background: #b97fc8;
}

.rock {
  background: #a38c22;
}

.water {
  background: #4592c3;
}
