<div class="popup-footer">
  <div class="footer-tab"><i class="fas fa-chevron-up chevron"></i></div>
  <ul class="footer-items">
    <div class="list-items">
      <li class="footer-item"><a href="https://github.com/benjaminkitson" target="_blank"><i
            class="fab fa-github"></i></a></li>
      <li class="footer-item"><a href="https://www.linkedin.com/in/benjamin-kitson/" target="_blank"><i
            class="fab fa-linkedin"></i></a></li>
      <li class="footer-item"><a href="https://stackoverflow.com/users/17733564/benjaminkitson" target="_blank"><i
            class="fab fa-stack-overflow"></i></a></li>
    </div>
  </ul>
</div>
