.popup-footer {
  position: absolute;
  top: calc(100vh);
  left: calc(50vw - 350px);
  display: flex;
  width: 700px;
  height: 150px;
  background-color: #c9e9fb;
  border-radius: 30px 30px 0 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1)
}

.footer-items {
  list-style-type: none;
}

.footer-tab {
  position: absolute;
  width: 90px;
  height: 31px;
  top: -30px;
  left: calc(50% - 45px);
  background-color: #c9e9fb;
  border-radius: 10px 10px 0 0;
  z-index: 3
}
