.bug-type {
  background-color: #719f40;
}

.dragon-type {
  background-color: linear-gradient( #52a4cf #f16e56);
}

.fairy-type {
  background-color: #fdb9e9;
}

.fire-type {
  background-color: #fd7d25;
}

.ghost-type {
  background-color: #7b62a3;
}

.ground-type {
  background-color: linear-gradient( #f7de3f, #ab9843);
}

.normal-type {
  background-color: #a4abae;
}

.psychic-type {
  background-color: #f366b9;
}

.steel-type {
  background-color: #9eb7b9;
}

.dark-type {
  background-color: #707070;
}

.electric-type {
  background-color: #eed535;
}

.fighting-type {
  background-color: #d56724;
}

.flying-type {
  background-color: linear-gradient( #3cc7ee #bdb9b8);
}

.grass-type {
  background-color: #9bcb50;
}

.ice-type {
  background-color: #51c3e7;
}

.poison-type {
  background-color: #b97fc8;
}

.rock-type {
  background-color: #a38c22;
}

.water-type {
  background-color: #4592c3;
}
