.bug {
  background: #719f40;
}

.dragon {
  background: linear-gradient( #52a4cf 30%, #f16e56 70%);
}

.fairy {
  background: #fdb9e9;
}

.fire {
  background: #fd7d25;
}

.ghost {
  background: #7b62a3;
}

.ground {
  background: linear-gradient( #f7de3f 30%, #ab9843 70%);
}

.normal {
  background: #a4abae;
}

.psychic {
  background: #f366b9;
}

.steel {
  background: #9eb7b9;
}

.dark {
  background: #707070;
}

.electric {
  background: #eed535;
}

.fighting {
  background: #d56724;
}

.flying {
  background: linear-gradient( #3cc7ee 30%, #bdb9b8 70%);
}

.grass {
  background: #9bcb50;
}

.ice {
  background: #51c3e7;
}

.poison {
  background: #b97fc8;
}

.rock {
  background: #a38c22;
}

.water {
  background: #4592c3;
}
